.tabBar-container {
  width: 120px;
  background-color: #fdfbf9;
  border-right: 2px solid #aaa0a057;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  transition: left 0.3s ease;
}

.tabBar-container.open {
  left: 0;
}

.tabBar-container.closed {
  left: -120px;
}

.toggle-button {
  position: absolute;
  top: 20px;
  right: -20px;
  background-color: #517c64;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.toggle-button:hover {
  background-color: #82c4a0;
  transform: scale(1.1);
}

.toggle-button .icon {
  color: white;
}

.logo {
  max-width: 100%;
  height: 10%;
  text-align: center;
}

.logo-text {
  transform: translateY(25%);
  width: 70%;
}

.tabs {
  width: 100%;
  height: 80%;
}

.tabCell-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease;
}

.tabCell-title {
  margin-top: 8px;
  font-size: 12px;
  opacity: 1; /* Hiển thị tên tab khi TabBar mở */
  transition: opacity 0.3s ease;
}

.tabCell-container.closed .tabCell-title {
  display: none; /* Ẩn tên tab khi TabBar thu lại */
}

@media (max-width: 739px) {
  .tabBar-container {
    width: 100vw;
    height: 10vh;
    display: flex;
    border-bottom: 3px solid #0000001a;
    align-items: center;
    left: 0;
  }
  .tabs {
    width: 100%;
    height: 80%;
    display: flex;
  }
  .tabCell-container {
    display: none;
  }
  .logo-text {
    transform: translateY(-40%);
    width: 70%;
  }
}
