.tabBar-container {
  width: 120px;
  background-color: #fdfbf9;
  border-right: 2px solid #aaa0a057;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s;
  position: relative; /* Đảm bảo vị trí của các phần tử bên trong */
}

.tabBar-container.collapsed {
  width: 50px;
}

.toggle-container {
  position: absolute;
  top: 10px;
  right: -25px;
  cursor: pointer;
  z-index: 10; /* Đảm bảo nút toggle luôn ở trên cùng */
  transform: rotate(90deg); /* Xoay nút toggle để hiển thị đúng hướng */
}

.tabs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 50px; /* Dành chỗ cho nút toggle */
}

.tabCell-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
}

.tabCell-title {
  margin-top: 8px;
  font-size: 12px;
}

@media (max-width: 739px) {
  .tabBar-container {
    width: 100vw;
    height: 10vh;
    display: flex;
    border-bottom: 3px solid #0000001a;
    align-items: center;
  }
  .tabs {
    width: 100%;
    height: 80%;
    display: flex;
  }
  .tabCell-container {
    display: none;
  }
}
