::-webkit-scrollbar {
  display: none;
}

.table-container {
  overflow-y: scroll;
  max-height: 41vh;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-bottom: none;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

.interact-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  margin-top: 12px;
}

.select-type {
  width: 25%;
  height: 32px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.327);
  color: #616161;
}

.export-btn {
  width: 15%;
  height: 32px;
  font-size: 18px;
  background-color: #517c64;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: white;
}

.export-btn:hover {
  background-color: #294335;
  color: white;
}

.refresh-btn {
  width: fit-content;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  font-size: 18px;
  background-color: #517c64;
  border: none;
  border-radius: 50%;
  font-weight: bold;
  color: white;
}

.refresh-btn:hover {
  opacity: 0.8;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: whitesmoke;
}

td,
th {
  text-align: center;
}

.header {
  width: calc(100% / 7);
  font-weight: bold;
}

td {
  padding-top: 24px;
  padding-bottom: 12px;
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .table-container {
    overflow: scroll;
    width: 80vw;
    border-bottom: none;
    margin: auto;
  }
}

@media (max-width: 739px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .table-container {
    overflow: scroll;
    width: 100vw;
    border-bottom: none;
    margin: auto;
  }
}

.export-btn {
  width: 15%;
  height: 32px;
  font-size: 14px;
  background-color: #517c64;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: white;
}
