@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

body {
    background-color: #f4f6f8;
    font-family: "Open Sans", sans-serif;
    min-width: 100vh;
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
    body {
        background-color: #cae8d9;
        font-family: "Open Sans", sans-serif;
        min-width: 740px;
    }
}

@media (max-width: 739px) {
    body {
        background-color: #cae8d9;
        font-family: "Open Sans", sans-serif;
        min-width: 740px;
    }
}
