.container {
    display: flex;
    flex-direction: row; /* Stack TabBar on top */
    width: 100%;
    height: 100vh;
}

.dashboard-container {
    display: flex;
    flex-direction: column; /* Stack content below TabBar */
    width: 100%;
    height: 100%;
    margin-right: 20px;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
    .dashboard-container {
        width: 100vw;
        height: auto;
        background-color: #f4f6f8;
        overflow: hidden;
        display: flex;
        box-shadow: 5px 16px 10px rgba(0, 0, 0, 0.1);
    }

    .main-content {
        width: 100vw;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 739px) {
    .dashboard-container {
        width: 100vw;
        height: auto;
        background-color: #f4f6f8;
        border-radius: 16px;
    }
}
