.dashboard-container {
  width: 100%;
  height: 100vh;
  background-color: #f4f6f8;
  /* border-radius: 16px; */
  /* overflow: hidden; */
  display: flex;
  box-shadow: 5px 16px 10px rgba(0, 0, 0, 0.1);
}

.main-content {
  width: 100%;
  margin-left: 80px;
  margin-right: 100px;
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
  .dashboard-container {
    width: 100vw;
    height: auto;
    background-color: #f4f6f8;
    overflow: hidden;
    display: flex;
    box-shadow: 5px 16px 10px rgba(0, 0, 0, 0.1);
  }

  .main-content {
    width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 739px) {
  .dashboard-container {
    width: 100vw;
    height: auto;
    background-color: #f4f6f8;
    /* border-radius: 16px; */
    overflow: hidden;
    /* cai nay */
    display: flex;
    flex-direction: column;
    box-shadow: 5px 16px 10px rgba(0, 0, 0, 0.1);
  }
  .main-content {
    width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
  }
}
