.header-container {
  width: 100%;
  height: 73px;
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}

.header-left {
  width: 190px;
  height: 35%;
}

.header-title {
  width: 100%;
  height: 100%;
  background-color: #241f21;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.header-right {
  width: 440px;
  height: 35%;
  display: flex;
}

.header-help,
.header-user {
  width: 100%;
  height: 100%;
  background-color: #517c64;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-left: 16px;
}

.sub-content {
  height: 100%;
  color: #cadbd1;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bolder;
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
  .header-container {
    width: 90%;
    margin: auto;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
  }
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
  .header-container {
    width: 90%;
    margin: auto;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
  }
}

@media (max-width: 739px) {
  .header-container {
    display: none;
  }
}
