.tabBar-container {
  width: 120px;
  background-color: #fdfbf9;
  border-right: 2px solid #aaa0a057;
}

.logo {
  width: 100px;
  height: 20%;
  text-align: center;
  /* background-color: red; */
}

.logo-text {
  transform: translateY(25%);
  width: 70%;
}

.tabs {
  width: 100%;
  height: 80%;
}

.tabCell-container {
  width: 100%;
  /* height: calc(100% / 3); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabCell-title {
  margin-top: 8px;
  font-size: 12px;
}

@media (max-width: 739px) {
  .tabBar-container {
    width: 100vw;
    height: 10vh;
    display: flex;
    /* padding-bottom: 80px; */
    border-bottom: 3px solid #0000001a;
    align-items: center;
  }
  .tabs {
    width: 100%;
    height: 80%;
    display: flex;
  }
  .tabCell-container {
    display: none;
  }
  .logo-text {
    transform: translateY(-40%);
    width: 70%;
  }
}
