::-webkit-scrollbar {
    display: none;
}

.table-container {
    overflow-y: scroll;
    max-height: 41vh;
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-bottom: none;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

.interact-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

.records-number {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    flex-grow: 1; /* Pushes the buttons to the right */
}

.button-group {
    display: flex;
    gap: 8px; /* Adds spacing between buttons */
}

.export-btn {
    min-width: 120px; /* Ensures the button is at least 120px wide */
    height: 32px;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #517c64;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap; /* Prevents text from wrapping */
}

.export-btn:hover {
    background-color: #3a5d4b;
    color: white;
}

.refresh-btn {
    padding: 8px;
    height: 32px;
    font-size: 18px;
    background-color: #517c64;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.refresh-btn:hover {
    opacity: 0.8;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: whitesmoke;
}

td,
th {
    text-align: center;
}

.header {
    width: calc(100% / 7);
    font-weight: bold;
}

td {
    padding-top: 24px;
    padding-bottom: 12px;
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
    ::-webkit-scrollbar {
        display: none;
    }
    .table-container {
        overflow: scroll;
        width: 80vw;
        border-bottom: none;
        margin: auto;
    }
}

@media (max-width: 739px) {
    ::-webkit-scrollbar {
        display: none;
    }
    .table-container {
        overflow: scroll;
        width: 100vw;
        border-bottom: none;
        margin: auto;
    }
}

.export-btn {
    width: 15%;
    height: 32px;
    font-size: 14px;
    background-color: #517c64;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    color: white;
}
