::-webkit-scrollbar {
    display: none;
}

.table-container {
    overflow-y: scroll;
    max-height: 41vh;
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-bottom: none;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    position: relative;
    z-index: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.interact-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 16px;
    position: relative;
    box-sizing: border-box;
}

.records-number {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    flex-grow: 1; /* Pushes the buttons to the right */
}

.button-group {
    display: flex;
    gap: 8px; /* Adds spacing between buttons */
}
.button {
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer */
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Full height to center vertically */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.363);
    z-index: 3; /* Ensure the loader is above other elements */
}

.bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: 0.25s;
}

.bar:nth-child(3) {
    animation-delay: 0.5s;
}

@keyframes scale-up4 {
    20% {
        background-color: #ffff;
        transform: scaleY(1.5);
    }

    40% {
        transform: scaleY(1);
    }
}

.refresh-btn {
    padding: 8px;
    height: 32px;
    font-size: 18px;
    background-color: #01e056;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
    animation: spin 2s linear infinite;
}

.refresh-btn:hover {
    opacity: 0.8;
    /* animation: spin 2s linear infinite; */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: whitesmoke;
}

td,
th {
    text-align: center;
}

.header {
    width: calc(100% / 7);
    font-weight: bold;
}

td {
    padding-top: 24px;
    padding-bottom: 12px;
}
.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #ff1a1a;
}
.download-button {
    position: relative;
    border-width: 0;
    color: white;
    font-size: 12px; /* Smaller font size */
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    z-index: 3; /* Ensure the button is above other elements */
    background-color: transparent; /* Remove background color */
    padding: 4px 8px; /* Smaller padding */
}

.download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px; /* Smaller gap */
    min-height: 30px; /* Smaller height */
    padding: 0 5px; /* Smaller padding */
    border-radius: 4px;
    z-index: 4; /* Ensure the button content is above other elements */
    background-color: transparent;
    border: solid 1px transparent;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: 2; /* Ensure the download content is above the table */
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #01e056;
    border: solid 1px #01e0572d;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover .download {
    transform: translateY(100%);
}

.download svg polyline,
.download svg line {
    animation: docs 1s infinite;
}

@keyframes docs {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(0%);
    }
}

@media screen and (min-width: 740px) and (max-width: 1024px) {
    ::-webkit-scrollbar {
        display: none;
    }
    .table-container {
        overflow: scroll;
        width: 80vw;
        border-bottom: none;
        margin: auto;
    }
}

@media (max-width: 739px) {
    ::-webkit-scrollbar {
        display: none;
    }
    .table-container {
        overflow: scroll;
        width: 100vw;
        border-bottom: none;
        margin: auto;
    }
}
