.cameraContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 100; /* Giới hạn chiều cao của container */
    overflow-y: auto; /* Kích hoạt thanh cuộn dọc */
  }
  
  .cameraFeed {
    margin: 10px;
  }
  
  .cameraTitle {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .cameraVideo {
    width: 400px;
    height: 300px;
    border: 1px solid #ccc;
  }
  