.cashContainer {
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .paymentTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .paymentTable th,
  .paymentTable td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .paymentTable th {
    background-color: #517c64;
    color: white;
  }
  
  .paymentTable td {
    background-color: #f4f6f8;
  }
  
  .licensePlateImage {
    width: 100px;
    height: auto;
    border-radius: 5px;
  }
  
  .paymentTable tr:hover {
    background-color: #eef5f2;
  }
  