.dashboardContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.functionCardsContainer {
  width: 90%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 16px;
}

.cardContainer {
  width: calc(100% / 2 - 16px); /* Adjust for responsiveness /
  height: 500px; / Set height based on design preference /
  border-radius: 12px;
  padding: 24px;
  margin: 8px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.1);
}
.cardContainer p {
  font-size: 48px; / Bigger data text */
  font-weight: bold;
  margin: 0;
}